/* @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Nanum+Myeongjo:wght@400;700&display=swap"); */

:root {
  /* --dark-color: #444; */
  /* --gradient-color: linear-gradient(to top left, #a4be7b, #285430); */
  --beige-color: #e5d9b6;
  --light-green-color: #a4be7b;
  --light-green-transp: rgba(164, 190, 123, 0.6);
  --green-color: #5f8d4e;
  --dark-green-color: #285430;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  /* font-family: "Nanum Myeongjo", serif; */
  color: var(--dark-green-color);
  background-color: var(--beige-color);
  font-size: 1.8rem;
}

/* GENERAL ELEMENTS */

.section {
  margin: 15rem auto;
  border-top: 1px solid var(--dark-color);
  max-width: 106.5rem;
  text-align: center;
}

.section__heading {
  margin: 8rem 0 8rem;
  font-size: 3.5rem;
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.margin-topbot-sm {
  margin: 2rem 0 2rem;
}

.margin-bot-sm {
  margin-bottom: 2rem;
}

.margin-bot-lg {
  margin-bottom: 8rem;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
  margin: 8rem 0 2rem;
}

p {
  font-family: "Nanum Myeongjo", serif;
}

img {
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.img-50 {
  width: 50% !important;
}

footer img {
  box-shadow: none;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  transform: scale(1.1, 0.9) skewX(-12deg);
  background-image: var(--gradient-color);
}

/* GRID */

.grid__container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 8rem;
}

.grid__rows-2 {
  grid-template-rows: 1fr 1fr;
}

.grid__col-2 {
  grid-template-columns: 1fr 1fr;
}

/* NAVIGATION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  /* width: 100%; */
  padding: 0 6rem;
  z-index: 100;
  background-color: var(--dark-green-color);
  color: var(--beige-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.nav.sticky {
  position: fixed;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 700;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav__link:link,
.nav__link:visited {
  font-size: 2.4rem;
  font-weight: 400;
  display: block;
  transition: all 0.3s;
  padding: 10px;
  border: 1px solid var(--dark-green-color);
}

.nav__link:hover,
.nav__link:active {
  border-color: var(--beige-color);
}

.btn,
.btn:link,
.btn:visited {
  padding: 0.8rem 2.5rem;
  background-color: var(--light-green-transp);
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

.btn:hover,
.btn:active {
  background-color: var(--light-green-color);
}

.nav__links .btn {
  color: var(--beige-color);
  background-color: var(--dark-green-color);
  border: none;
}

.nav__links .btn:hover,
.nav__links .btn:active {
  background-color: var(--green-color);
}

button.btn {
  border: none;
  font-size: 2rem;
}

/* HEADER */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero__container {
  flex: 1;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
}

.hero__container-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: start;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.hero__text {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero__image {
  width: 100%;
}

.hero__btn {
  display: inline-block;
  background: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--gradient-color);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
}

/* SECTION */

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 12rem;
  gap: 4rem;
}

.grid__image {
  max-width: 100%;
}

.grid__col-2 {
  grid-column: span 2;
}

.grid__col-3 {
  grid-column: span 3;
}

/* PLANTS */

.sub__section-planterior {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;

  margin-bottom: 1.5rem;
}

.planterior.el1 {
  grid-column: span 7;
}

.planterior.el2 {
  grid-column: span 5;
}

.planterior.el3 {
  grid-column: span 6;
}

.planterior.el4 {
  grid-column: span 6;
}

.planterior {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* FLOWERS */

.photo_zone__grid {
  display: grid;
  grid-template-columns: 1.413fr 1fr;
  gap: 1.5rem;
}

/* FOOTER */

.footer {
  height: 15rem;
  background-color: var(--dark-green-color);
  color: #fff;
  font-size: 1.8rem;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.footer__social-links {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__icon {
  width: 2.4rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg)
    brightness(110%) contrast(100%);
}
